*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
.boxes{
    display: flex;
}
.box{
    width: 344px;
    height: 344px;
    background-color: azure;
    padding: 3px;
    margin: 3px;
}
/* @media not|only mediatype and (expression){CSS:code} */
@media only screen and (max-width:455px){
    body{
        background-color: blue;
    }
    .boxes{
        flex-direction: column;
    }
} 
/* landscape */
@media only screen and (orientation: portrait){
    body{
        border: 2px solid black;
        color: purple;
    }
}