*{
    margin: 0;
    padding: 0;
}
.box{
    background-color: antiquewhite;
    color: aqua;
    border: 3px solid #000000;
    /* display: inline; */
    display: inline-block;
    margin: 23px;
    padding: 34px;
}
.box1{
    /* display: none; */
    /* display:grid; */
    display: inline-flex;
    /* display: flex; */
    /* visibility: hidden; */
    /* visibility: visible; */
}