.container{
    background-color: aquamarine;
    width: 70vw;
    height: 60vh;
    display: flex;
    align-items: flex-end;
}
.box{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    animation: x 5s linear 1s infinite,
    y 1s ease-out 1s infinite alternate;
}

@keyframes x {
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
@keyframes y {
    from{
        bottom: 0%;
    }
    to{
        bottom: 50%;
    }
}