.container{
    background-color: aquamarine;
    width: 50vw;
    height: 40vh;
}
.box{
    background-color: aqua;
    width: 5vw;
    height: 4vh;
    transition: all 3s ease-in 1s;
    transition: transition 3s ease-in 1s;
    /* transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */
}
.translate{
    background-color: green;
    transform: translateX(10vw) translateY(10vw);
}